<!DOCTYPE html>
<html th:replace="~{_global :: plantilla(~{::title}, ~{::main})}"
	xmlns:th="http://www.thymeleaf.org">
<title>GdC - Notes</title>
<main>

	<section class="container" id="tabla">
	<div class="col-md-8 offset-md-2">
	
		<h1 class="mt-5 mb-3">Notes</h1>
	</div>
		<div class="container">

			<div class="col-md-8 offset-md-2" th:switch="${notas}">
				<h2 th:case="null">No hi ha notes guardades</h2>
				<div class="table-responsive" th:case="*">
					<table class="table table-hover mb-5 align-middle">
						<caption>Taula notes</caption>
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Curs</th>
								<th scope="col">Id Alumne</th>
								<th scope="col">Nota</th>
								<th></th>
							</tr>
						</thead>
						<tbody class="table-group-divider">
							<tr th:each="nota : ${notas}">
								<td scope="row" th:text="${nota.id}"></td>
								<td th:text="${nota.curso.nombreCurso}"></td>
								<td th:text="${nota.alumno.id}"></td>
								<td th:text="${nota.valor}"></td>
								<td><small><a class="btn btn-sm btn-outline-info"
										th:href="@{/nota/{id}(id=${nota.id})}"><i
											class="bi bi-info-circle"></i></a> <a
										class="btn btn-sm btn-outline-warning"
										th:href="@{/registroNota/{id}(id=${nota.id})}"><i
											class="bi bi-pencil-square"></i></a> <a
										class="btn btn-sm btn-outline-danger"
										th:href="@{/nota/borrar/{id}(id=${nota.id})}"><i
											class="bi bi-trash"></i></a></small></td>
							</tr>
						</tbody>
					</table>

				</div>
				<div>
					<a class="btn btn-primary btn-personal" href="/registroNota"><i
						class="bi bi-plus-circle mr-2"></i>Afegir Nota</a>
				</div>
			</div>
		</div>
	
	</section>

</main>