<!DOCTYPE html>
<html th:replace="~{_global :: plantilla(~{::title}, ~{::main})}"
	xmlns:th="http://www.thymeleaf.org">
<title>GdC - Notas</title>
<main>

	<div>
		<h1>Notas</h1>
		<p>INFORMACIÓ DE les NOTES: 
		NUM.registre / nomCurs / dataCurs / dataExamen / Registre.Alumne / nota </p>
	
		<div th:switch="${notas}">
			<h2 th:case="null">No hay Notas Registrados</h2>
			<div th:case="*">
				<h2>Notas</h2>
				<table id="tablaNotas" class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>Nota</th>
							<th>Alumno</th>
							<th>Curso</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="nota : ${notas}">
							<td th:text="${nota.id}"></td>
							<td th:text="${nota.valor}"></td>
							<td th:text="${nota.alumno.id}"></td>
							<td th:text="${nota.curso.nombreCurso}"></td>
							<td><a th:href="@{/notas/{id}(id=${nota.id})}">Editar</a></td>
							<td><a th:href="@{/notas/borrar/{id}(id=${nota.id})}">Borrar</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<p>
				<a href="/registrNota">Añadir Nota</a>
			</p>
		</div>
	</div>
	
	
</main>