<!DOCTYPE html>
<html th:replace="~{_global :: plantilla(~{::title}, ~{::main})}"
	xmlns:th="http://www.thymeleaf.org">
<title>GdC - Registre Alumne</title>
<main>
	
	<section id="formPersonal" class="container">
		
			<h1 class="tituloColor mt-5 mb-3">Registre d'alumnes</h1>

				<div
					class="me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden col-md-8 offset-md-2">
					<form class="form needs-validation" action="#"
						th:action="@{/registroAlumno}" th:object="${alumno}"
						method="post">
						<input type="hidden" th:field="*{id}">
						<div class="mb-3">
							<!-- Campo de texto para el nombre -->
							<label class="form-label" for="nombre">Nom</label> <input
								class="form-control" placeholder="nom" th:field="*{nombre}"
								type="text" id="nombre" name="nombre" required>
							<div class="invalid-feedback">Introdueix un nom correcte</div>
							<span th:if="${#fields.hasErrors('nombre')}"
								th:errors="*{nombre}"></span>
						</div>
						<div class="mb-3">
							<!-- Campo de apellido -->
							<label class="form-label" for="apellidos">Cognoms</label> <input
								type="text" class="form-control" placeholder="cognoms"
								id="apellidos" name="apellidos" th:field="*{apellidos}" required>
							<div class="invalid-feedback">Introdueix un cognom vàlid</div>
							<span th:if="${#fields.hasErrors('apellidos')}" th:errors="*{apellidos}"></span>
						</div>

						<!-- Botón de envío -->
						<button class="btn-personal w-100 btn btn-lg btn-primary"
							type="submit">Registrar</button>
					</form>
				</div>
	</section>
</main>